/* my styles go here */

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  border: 1px solid black;
  border-top-width: 2px;
  background-color: #aaa;
  margin: 0 0.5em;
}

header {
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #bbb;
}

.navbar-fixed-top {
  padding: 0 0;
}

div#nav-container {
  padding-left: 0;
  padding-right: 0;
}

a.navbar-brand {
  background-color: teal;
  color: white;
  font-family: times;
  padding: 0.7em 1em;
}

#theme-select {
  background: #007bff;
  border: 1px solid #777;
  color: #eee;
  font-family: sans-serif;
  font-size: 0.8em;
  margin-left: 0.8em;
}

@media screen and (max-width: 640px) {
  a.navbar-brand {
    padding: 0.1em 1em;
  }
}

a.navbar-link {
  color: gray;
  font-size: 0.9em;
  padding: 0 0.5em;
  margin-right: 0;
}

/* Make navbar responsive on phones. */

@media screen and (max-width: 640px) {
  #nav-container {
    max-width: 100%;
    padding: 0 0;
  }

  .navbar-header {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }

  a.navbar-brand {
    display: block;
    margin: 0 auto;
  }

  p.navbar-text.navbar-right {
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #bbb;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
  }
}

main {
  background: url("../img/dictionary.jpg") 0 / cover fixed;
}

main {
  background-color: #ddd;
  flex: 1;
}

main div#main-container {
  background: hsla(0, 0%, 100%, 0.7);
  border-radius: 0.2em;
  margin-top: 2em;
  padding: 1em 1em;
}

/* Trim down vertical spacing on mobile. */
@media screen and (max-width: 640px) {
  main div#main-container {
    margin-top: 1em;
    padding: 0.5em 0.5em;
    /* Provide a tad of margin on phones. */
    max-width: 95%;
  }
}

main p#main-label {
  color: teal;
  font-family: times;
  font-size: 1.25rem;
  margin-bottom: 0;
  padding: inherit;
  padding-top: 0;
}

main #word-to-guess-prompt {
  background-color: white;
  padding: 0 0.5em;
  border-radius: 0.2em;
}

@media screen and (max-width: 640px) {
  main #word-to-guess-prompt {
    margin-left: 0.3em;
  }
}

main #word-to-guess {
  background-color: #eee;
  border-radius: 0.2em;
  border: solid 1px teal;
  color: black;
  font-family: sans-serif;
  letter-spacing: 0.25em;
  margin-left: 1em;
  padding: 0 0.5em;
  text-align: center;
}

main p#main-content {
  color: gray;
  font-size: 0.9em;
}

@media screen and (max-width: 640px) {
  #main-container > p {
    margin-bottom: 0;
  }
}

main #guessed-letter-form {
  border: solid 1px #007bff;
  border-radius: 0.3em;
}

main #letters-used {
  float: left;
  width: 55%;
}

@media screen and (max-width: 640px) {
  main #guesses-left {
    float: right;
  }
}

main #guesses-left-num {
  font-size: 1.2em;
  font-weight: bold;
}

main #stop-text {
  color: white;
}

@media screen and (max-width: 640px) {
  main div#stop-sign {
    clear: both;
  }
}

main #status-text {
  background-color: #999;
  border-radius: 0.2em;
  color: white;
  text-align: center;
}

footer {
  background-color: #555;
  border-top-style: solid;
  border-top-width: 4px;
  border-top-color: teal;
  color: #ccc;
  font-size: 0.5em;
  padding: 2em 1em;
  text-align: center;
}

@media screen and (max-width: 640px) {
  footer {
    padding: 0.5em 1em;
  }
}
